.headline {
    font-family: var(--font-fustat);
    font-weight: 800;
    letter-spacing: -5%;
    font-size: var(--heading3);
    line-height: var(--heading2);
    color: var(--text-color);
}

.number {
    font-family: var(--font-literata-italic);
    letter-spacing: 5%;
    font-size: var(--button);
    color: var(--text-color);
}

.description {
    font-family: var(--font-fustat);
    font-weight: 400;
    letter-spacing: -5%;
    font-size: var(--heading4);
    color: color-mix(in srgb, var(--text-color) 70%, transparent);
}