.menu_item {
    font-family: var(--font-literata-regular);
    font-size: var(--button);
    color: var(--text-color);
    letter-spacing: -5%;
    font-weight: 200;
    align-self: center;
    cursor: pointer;
}

.menu_item_selected {
    font-family: var(--font-literata-regular);
    font-size: var(--button);
    color: var(--text-color);
    letter-spacing: -5%;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
}

.menu_trigger_btn {
    background: none !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    font-weight: normal !important;
    line-height: 1 !important;
    color: inherit !important;
}